@model PaginatedList<About>

@{
    ViewData["Title"] = "Index";
}

<div class="container" style="padding-top:120px">
    <h1>Index</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <form asp-action="Index" asp-controller="About" method="get">
        <input type="text" name="searchAbout" style="width:250px" placeholder="Search By Description" @ViewData["CurrentFilter"] />
        <input type="submit" class="btn btn-primary" value="Search" /> |
        <a asp-action="Index">Get All Abouts</a>
    </form>
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["Description"]"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]">Description</a>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit"></i></a> |
                        <a asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-eye"></i></a> |
                        <a asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @{
        var prevDisabled = !Model.PreviousPage ? "disabled" : "";
        var nextDisabled = !Model.NextPage ? "disabled" : "";
    }

    <a asp-action="Index" asp-controller="About"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @prevDisabled">
        Previous
    </a>
    <a asp-action="Index" asp-controller="About"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @nextDisabled">
        Next
    </a>
</div>
